
@{
    ViewData["Title"] = "List";
    // ViewBag.BookLists = Books;
}


<h1>Book List</h1>
<ul>
    @foreach (Book book in ViewBag.BookLists)
    {
    <li>
        <a href="/Book/Details?id=@(book.ID)"><p>@(book.Title)</p></a>
    </li>
    }
</ul>
